In [1]:
import gradio as gr

In [2]:
import pickle
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [3]:
#Loading the the dataset onto a dataframe we named as df using pandas
df = pd.read_csv("C:/Users/Mitali/Desktop/Study/Data Intensive Computing/Project/Banking Dataset - Marketing Targets/Dataset/Bank data.csv", sep = ";")

In [4]:
df.rename(columns = {'age':'Age', 'job':'Profession', 'marital': 'Marital_Status', 'default': 'Default_Credit', 'balance':'Annual_Bankbal',
                    'housing': 'Housing_Loan', 'loan':'Private_Loan', 'contact':'Contact_Medium', 'pdays':'Previous_Idledays', 
                    'previous':'Prior_Contact_ct', 'poutcome':'Prior_Outcome', 'y':'Latest_Outcome', 'duration':'Call_Duration', 
                    'month':'Prior_Contact_Mos', 'day':'Last_Contact_Day'}, inplace = True)

df.head()

,Age,Profession,Marital_Status,education,Default_Credit,Annual_Bankbal,Housing_Loan,Private_Loan,Contact_Medium,Last_Contact_Day,Prior_Contact_Mos,Call_Duration,campaign,Previous_Idledays,Prior_Contact_ct,Prior_Outcome,Latest_Outcome
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [5]:
df[['Profession','education','Contact_Medium']] = df[['Profession','education','Contact_Medium']].replace(['unknown'],'other')

In [6]:
#We convert the latest_outcome values from yes, no to binary values 0,1 for easier analysis
df['Latest_Outcome'] = df['Latest_Outcome'].apply(lambda a:0 if a=='no' else 1)

In [7]:
#We can also convert the months in categorical order to numerical order for easier analyses.

df['Prior_Contact_Mos'].replace(['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec'],
                                [1,2,3,4,5,6,7,8,9,10,11,12], inplace = True)

In [8]:
df.head()

,Age,Profession,Marital_Status,education,Default_Credit,Annual_Bankbal,Housing_Loan,Private_Loan,Contact_Medium,Last_Contact_Day,Prior_Contact_Mos,Call_Duration,campaign,Previous_Idledays,Prior_Contact_ct,Prior_Outcome,Latest_Outcome
0,58,management,married,tertiary,no,2143,yes,no,other,5,5,261,1,-1,0,unknown,0
1,44,technician,single,secondary,no,29,yes,no,other,5,5,151,1,-1,0,unknown,0
2,33,entrepreneur,married,secondary,no,2,yes,yes,other,5,5,76,1,-1,0,unknown,0
3,47,blue-collar,married,other,no,1506,yes,no,other,5,5,92,1,-1,0,unknown,0
4,33,other,single,other,no,1,no,no,other,5,5,198,1,-1,0,unknown,0

In [9]:
#Label Encoding for categorical columns
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df['Profession'] = le.fit_transform(df['Profession'])
df['Marital_Status'] = le.fit_transform(df['Marital_Status'])
df['education'] = le.fit_transform(df['education'])
df['Default_Credit'] = le.fit_transform(df['Default_Credit'])
df['Housing_Loan'] = le.fit_transform(df['Housing_Loan'])
df['Private_Loan'] = le.fit_transform(df['Private_Loan'])
df['Contact_Medium'] = le.fit_transform(df['Contact_Medium'])
df['Prior_Outcome'] = le.fit_transform(df['Prior_Outcome'])

In [10]:
df.head()

,Age,Profession,Marital_Status,education,Default_Credit,Annual_Bankbal,Housing_Loan,Private_Loan,Contact_Medium,Last_Contact_Day,Prior_Contact_Mos,Call_Duration,campaign,Previous_Idledays,Prior_Contact_ct,Prior_Outcome,Latest_Outcome
0,58,4,1,3,0,2143,1,0,1,5,5,261,1,-1,0,3,0
1,44,10,2,2,0,29,1,0,1,5,5,151,1,-1,0,3,0
2,33,2,1,2,0,2,1,1,1,5,5,76,1,-1,0,3,0
3,47,1,1,0,0,1506,1,0,1,5,5,92,1,-1,0,3,0
4,33,5,2,0,0,1,0,0,1,5,5,198,1,-1,0,3,0

In [11]:
X = df.drop(['Latest_Outcome'], axis = 1)
y = df['Latest_Outcome']

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 12)

In [13]:
cl = X_train.columns

In [14]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [15]:
X_train = pd.DataFrame(X_train, columns=[cl])
X_test = pd.DataFrame(X_test, columns=[cl])

In [16]:
#Gradient Boosting
from sklearn.ensemble import GradientBoostingClassifier
gbc = GradientBoostingClassifier()
gbc.fit(X_train, y_train)

C:\Users\Mitali\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(

GradientBoostingClassifier()

In [17]:
#Save as Pickle File
with open("Phase3.pkl", "wb") as f:
    pickle.dump(gbc, f)

In [18]:
#Gradio Interface part
def make_prediction(Age, Profession, Marital_Status, education, Default_Credit, Annual_Bankbal, Housing_Loan, Private_Loan,
                   Contact_Medium, Last_Contact_Day, Prior_Contact_Mos, Call_Duration, campaign, Previous_Idledays, Prior_Contact_ct, Previous_Outcome):
    with open("Phase3.pkl", "rb") as f:
        gbc  = pickle.load(f)
        preds = gbc.predict([[Age, Profession, Marital_Status, education, Default_Credit, Annual_Bankbal, Housing_Loan, Private_Loan,
                   Contact_Medium, Last_Contact_Day, Prior_Contact_Mos, Call_Duration, campaign, Previous_Idledays, Prior_Contact_ct, Previous_Outcome]])
    if preds == 0:
        return "You are not eligible for the term deposit"
        
    else:
        return "You are eligible for the term deposit"

#Create the input component for Gradio
Age_input = gr.Number(label = "Enter the Age of the client")
Profession_input = gr.Number(label = "Enter Profession of client {0: Administration, 1:Blue collar, 2:Entrepreneuer, 3:Housemaid, 4:Management, 5:Retired, 6:Self-employed, 7:Services, 8:Student, 9:Technician, 10:Unemployed, 11:Other}" )
Marital = gr.Number(label = "Enter Marital Status of client {0:divorced, 1:married, 2:single}")
education = gr.Number(label = "Enter education level of client{0:primary, 1:secondary, 2:tertiary, 3:Higher, 4:Other}")
Default_Credit = gr.Number(label = " Does client have any existing Credit in Default? {0:no, 1:yes}")
Annual_Bankbal = gr.Number(label = "What is the Annual Bank Balance of client?")
Housing_Loan = gr.Number(label = "Does the client have a housing loan? {0: no, 1:Yes}")
Private_Loan = gr.Number(label = "Does the client have a priavte loan? {0: no, 1:Yes}")
Contact_Medium = gr.Number(label = "What was contact medium to the client? {0:cellular, 1:telephone, 2:Other}")
Last_Contact_Day = gr.Number(label = "Last contact day of the month with the client")
Prior_Contact_Mos = gr.Number(label = "Prior Month of contact with the client {1:January, 2:February, 3:March, 4:April, 5:May, 6:June, 7:July, 8:August, 9:September, 10:October, 11:November, 12:December}")
Call_Duration = gr.Number(label = "What was the duration of call with the client(in sec)? {0 to 500}")
campaign = gr.Number(label = "Number of contacts performed during this campaign and for this client")
Prior_Contact_ct = gr.Number(label = "Number of contacts performed before this campaign and for this client")
Previous_Idledays = gr.Number(label = "Days  since last contact with the client {-1 if client was not contacted the last time}")
Previous_Outcome = gr.Number(label ="Outcome of previous marketing Campaign for this client{0:no, 1:yes}")

output = gr.Textbox()

app = gr.Interface(fn = make_prediction, inputs=[Age_input, Profession_input, Marital, education, Default_Credit, Annual_Bankbal, Housing_Loan, Private_Loan,
                   Contact_Medium, Last_Contact_Day, Prior_Contact_Mos, Call_Duration, campaign, Previous_Idledays, Prior_Contact_ct, Previous_Outcome], outputs=output)
app.launch()
#Click on the local url link
#It can be deployed on a public link, but it is free only for 72 hrs and then would need to buy premium subscription, 
#hence we have not used it here

Running on local URL:  http://127.0.0.1:7861

To create a public link, set `share=True` in `launch()`.